.aws-btn {
    --button-default-height: 58px;
    --button-default-font-size: 16px;
    --button-default-border-radius: 7px;
    --button-horizontal-padding: 25px;
    --button-raise-level: 9px;
    --button-hover-pressure: 7;
    --transform-speed: 0.185s;
    --button-primary-color: #475472;
    --button-primary-color-dark: #2a3143;
    --button-primary-color-light: #d4d9e4;
    --button-primary-color-hover: #424e6a;
    --button-primary-border: none;
    }