
     .Resizer.horizontal {
        overflow: hidden;
        position: relative;
        border-top: 2px  solid #ffb90f;
        border-bottom: 2px solid #ffb90f;
        cursor: row-resize;
        width: 100%;
    }

    .Resizer.vertical {
        border-left: 3px solid #ffb90f;
        border-right: 3px solid #ffb90f;
        cursor: col-resize;
    }
